<!-- FOOTER BEGIN
================================================== -->
<div class="footer footerdark">
    <div class="container">
        <!-- 1st row -->
        <div class="row-fluid">
            <div class="span4">
                <h1 class="title">{% trans %}Questions?{% endtrans %}</h1>
                <hr>
                <div class="done">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {% trans %}Votre message a bien été envoyé!{% endtrans %}
                    </div>
                </div>
                <form method="post" action="{{ path('contact') }}" id="contactform">
                    <div class="form">
                        <div class="controls controls-row">
                            <input class="span6" type="text" name="name" placeholder="{% trans %}Nom{% endtrans %}">
                            <input class="span6" type="text" name="email" placeholder="{% trans %}E-mail{% endtrans %}">
                        </div>
                        <div class="controls">
                            <textarea class="span12" name="comment" rows="4" placeholder="{% trans %}Message{% endtrans %}"></textarea>
                        </div>
                        <input type="submit" id="submit" class="btn" value="{% trans %}Envoyer{% endtrans %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 2nd row -->
<div class="footerbottom footerbottomdark">
    <div class="container container">
        <div class="row-fluid">
            <!-- left -->
            <div class="span4 smallspacetop">
                <p class="smaller">
                    <span class="copyright">© </span> Copyright P2A Recruitment
                </p>
            </div>
            <!-- right -->
            <div class="span8 smallspacetop">
                <div class="pull-right smaller">

                </div>
                <div class="clearfix">
                </div>
            </div>
            <!-- end right -->
        </div>
    </div>
    <div class="text-center wraptotop">
        <a class="totop"><i class="icon-chevron-up"></i></a>
    </div>
</div>
<!-- FOOTER END -->
<!-- JAVASCRIPTS  ================================================== -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/prettyPhoto.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/thickbox.js"></script>
<!-- CALL CAMERA SLIDER -->
<script>
    jQuery(function(){
        jQuery('#camera_wrap_4').camera({
            height: 'auto',
            loader: 'bar',
            pagination: false,
            thumbnails: false,
            hover: true,
            opacityOnGrid: false,
            overlayer: false,
            imagePath: '/img/'
        });
    });
</script>
<!-- CALL FEATURED WORK -->
<script type="text/javascript">
    //CAROUSEL
    jQuery(document).ready(function ($) {
        $('#recent-portfolio').carouFredSel({
            responsive: true,
            items       : {
                width       : 200,
                height      : 237,
                visible     : {
                    min         : 1,
                    max         : 4
                }
            },
            width: '100%',
            height: '227px',
            auto: true,
            circular	: true,
            infinite	: false,
            prev : {
                button		: "#car_prev",
                key			: "left",
            },
            next : {
                button		: "#car_next",
                key			: "right",
            },
            swipe: {
                onMouse: true,
                onTouch: true
            },
            scroll: {
                easing: "easeInOutSine",
                duration: 1200
            }
        });
    });
    //ISOTOPE
    jQuery(document).ready(function ($) {
        var $containerbox = $('#content');
        $containerbox.imagesLoaded( function(){
            $containerbox.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false,
                }
            });
        });
//FILTER
        $('#filter a').click(function(){
            var selector = $(this).attr('data-filter');
            $containerbox.isotope({
                filter: selector,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false,
                }
            });
            return false;
        });
        $('#filter a').click(function (event) {
            $('a.selected').removeClass('selected');
            var $this = $(this);
            $this.addClass('selected');
            var selector = $this.attr('data-filter');
            $containerbox.isotope({
                filter: selector
            });
            return false;
        });
    });
    //ROLL ON HOVER
    jQuery(document).ready(function ($) {
        $(".roll").css("opacity","0");
        $(".roll").hover(function () {
                    $(this).stop().animate({
                        opacity: .8
                    }, "slow");
                },
                function () {
                    $(this).stop().animate({
                        opacity: 0
                    }, "slow");
                });
    });
</script>
<!-- CALL ACCORDION -->
<script type="text/javascript">
    $(".accordion h3").eq(0).addClass("active");
    $(".accordion .accord_cont").eq(0).show();
    $(".accordion h3").click(function(){
        $(this).next(".accord_cont").slideToggle("slow")
                .siblings(".accord_cont:visible").slideUp("slow");
        $(this).toggleClass("active");
        $(this).siblings("h3").removeClass("active");
    });
</script>
