{% for post in posts %}
    <br style="clear: both"/>
    <hr>
<div>
    <h1 class="blue">
        <a href="{{ path('post_view', {'id' : post.id}) }}">{{ post.getTitleLang(app.request.get('_locale')) }} - {{ post.getLocationLang(app.request.get('_locale'))|raw  }}</a>
    </h1>
</div>

{% endfor %}
<script type="text/javascript">
    tb_init('a.thickbox, area.thickbox, input.thickbox');//pass where to apply thickbox
</script>